@font-face {
    font-family: Futura;
    src: url(Futura-Med.otf);
  }

body{
    margin: 0;
    background-color: #222222;
    overflow-x: hidden;
}
html{
    height: 100%;
}

.main_container{
    background: linear-gradient(90deg,#ff6a0e, #d900ff);
    height: 60vh;
    width: 100vw ;
}  


.header{
    width: 100vw;
    height: 70px;
    font-family: 'Futura';
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 10;
}
.header_name{
    margin: 0px 0px 0px 12px;
    font-size: 25px;
    color: #fafafa;
}
.header_icons{
    width: 230px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;
}
.name{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 115px;
    margin: 0;
    color: #ffffff;
    position: relative;
    top: 20vh;
    left: 10%;
    width: fit-content;
}

.semi_trasparent_text{
    font-family: 'Futura';
    font-size: 100px;
    color: #ffffff80;
    position: relative;
    right: -50%;
    top: 26%;
    width: min-content;
}
.custom-shape-divider-bottom-1659997475 {
    position: relative;
    bottom: 79px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1659997475 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.custom-shape-divider-bottom-1659997475 .shape-fill {
    fill: #222222;
}

#menu{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgb(224, 0, 224), rgb(0, 0, 201));
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    transform: translate(0%, -100%);
    transition: all 0.4s ease-in-out !important;
    overflow: hidden;
    z-index: 9;
}

.menu_list{
    font-size: 110px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Futura';
    color: #fafafa;
}

.menu_list_item{
    margin-top: 30px;
    margin-bottom: 30px;
    transition: 200ms ease-in-out;
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}



.menu_list_item:after {
    content: '';
    position: absolute;
    width: 95%;
    transform: scaleX(0);
    height: 8px;
    bottom: 0;
    left: 2.5%;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
  .menu_list_item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container{
    width: 100%;
    font-family: 'Futura';
}

.title{  
    font-size: 70px;
    width: 100vw;
    text-align: center;
    color: #fafafa;
    font-family: 'Futura';
}
.card_container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 30px;
    font-family: 'Futura';  
}

.card_text{
    font-size: 50px;
    width: 100%;
    text-align: end;
    margin-left: 20px;
}

.card_image{
    aspect-ratio: 1/1;
    height: 150px;
    position: relative;
    transform: translate(55px);
    padding: 10px 10px 10px 0px;
    border-radius: 50%;
}

.big_card{
    width: 500px ;
}

.outer_card{
    width: 375px;
    height: 300px;
    margin: 0 100px 0 100px;
}

.outer_big_card{
    width: 550px;
    height: 300px;
    margin: 0 100px 0 100px;
}

.future_skills_container{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.bigger{
    width: 70vw;
}
.social_icons{
    display: none;
}
.projects_container{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.project_box{
    width: 90vw;
    max-width: 1200px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px white ;
    margin-bottom: 100px;
}
.project_name{
    font-size: 40px;
    color: white;
    font-family: 'Futura';
    transition: 0.1s ease-in-out;
    padding: 40px 20px 0px 50px;
}
.project_name:hover{
    font-size: 45px;
    color: #000000;
}
.project_link{
    text-decoration: none;
}
.project_images_box{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.project_image{
    width: 300px;
    max-width: 400px;
    border-radius: 15px;
    min-width: 300px;
    margin: 0px 20px 60px 20px;
}
.project_description{
    width: 250px;
    font-size: 30px;
    font-family: 'Futura';
    color: #fafafa;

}
@media only screen and (max-width: 800px){
    .name{
        font-size: 55px;
        left: 10%;
    }
    .semi_trasparent_text{
        font-size: 65px;
        right: -35%;
    }
    .menu_list{
        font-size: 80px;
    }
}

@media only screen and (min-width: 1920px){
    .name{
        left: 20%;
    }
}


@media only screen and (max-width: 1200px){
    .project_description{
        width: 80%;
        text-align: center;
    }
}

@media only screen and (max-width: 650px){
    .name{
        font-size: 60px;
        left: 0 !important;
        right: 0;
        top: 30%;
        width: 100%;
        text-align: center;
    }
    .semi_trasparent_text{
        font-size: 65px;
        right: 0;
        left: 0;
        top: 25%;
        width: 100%;
        text-align: center;
    }
    .main_container{
        height: 50vh;
    }
    .header_icons{
        width: 200px;
    }
    .header_name{
        font-size: 20px;
    }
    .menu_list{
        font-size: 60px;
    }
    .card_text{
        font-size: 40px;
        text-align: end !important;
    }
    .card{
        width: 250px;
        height: 150px;
    }
    .card_image{
        height: 100px;
        transform: translate(30px);
    }
    .card_subcontainer{
        display: inline;
    }
    .outer_card{
        width: 100vw;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .big_card{
        width: 250px;
        height: 150px;
    }

    .big_card_text{
        font-size: 32px;
    }
    .outer_big_card{
        width: 100vw;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #future_title{
        font-size: 42px;
    }
    .project_name{
        font-size: 26px;
        text-align: center;
        padding: 20px 0px 20px 0px;
        margin: 0;
    }
    .project_name:hover{
        font-size: 30px;
    }
    .project_image{
        min-width: 0;
        width: 200px;
        margin-bottom: 10px;
        border-radius: 6px;
    }
    .project_description{
        font-size: 25px;
    }
    .project_box{
        width: 80vw;
    }   
}

@media only screen and (max-width: 450px) {
    .social_icons{
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
    }
    .menu_list_item{
        font-size: 50px;
    }
    .name{
        font-size: 36px ;
    }
    .semi_trasparent_text{
        font-size: 40px;
    }
    .title{
        font-size: 30px;
    }
    .project_name{
        font-size: 20px;
    }
}

